<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi,
      excepturi.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container icon__feature">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo tempora
        quibusdam perferendis harum libero necessitatibus magnam voluptatem
        dicta assumenda possimus!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="feature__image" src="/images/easy.jpg" alt="some data" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container icon__feature">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo tempora
        quibusdam perferendis harum libero necessitatibus magnam voluptatem
        dicta assumenda possimus!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="feature__image" src="/images/easy.jpg" alt="some data" />
    </picture>
  </article>
</section>
